.art3-container {
	display: flex;
	flex-direction: column;
	height: 100%;

	.img3-container {
		flex: 3;
		position: relative;

	}

	.misc3-container {
		flex: 1;
		width: 80%;
		margin: auto;

		.poem3 {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}