.art3-container {
	margin: auto;
	display: flex;
	flex-direction: column;
	height: 100%;

	.img3-container {
		flex: 400;
		background-color: lightcyan;
		position: relative;
		// display: flex;
		// flex-direction: row;

		// .containerStyles {
		// 	position: absolute;
		// 	margin-top: auto;
		// 	top: 0; right: 0;
		// 	bottom: 0; left: 0;
		// }

		img {
			display: flex;
			max-width: 100%;
			max-height: 100%;
		}
	}
}