.intro-container {
    width: 100%;
    background-color: black; //#87426f;
}

.intro-inner-container {
    width: 80%;
    margin: 0 auto;
    padding: 1em;
}

.intro-title {
    width: 50%;
    color: white;
    font-size: 4em;
}

.intro-subtitle {
    width: 30%;
    color: grey;
    font-size: 1em;
}