@import "../../global.scss";

* { 
    box-sizing: border-box;
}

.parent{
    background-color: navy;
    padding: 5em;

    margin: 0 auto;
    width: 100%;
}

.child{
    background-color: #38FCD9;
    height: 250px; // fixed height
    width: 800px;
    margin: 0 auto;
}